/* https://windowsterminalthemes.dev/?theme=Borland */

body {
  background-color: black;
  font-family: monospace;
  color: #ffff4e;
}

.userColor
{
  font-weight: normal;
  color: #ffff4e;
}

.dirColor
{
  font-weight: normal;
  color: #ffff4e;
}

#cursor {
  background-color: #ffa560;
  border-color: #ffa560;
}

#terminal-wrap {
  background-color: #0000a4;
  border: 1px solid #ffa560;
}

#date
{
    font-weight: normal;
    color: #ffff4e;
}

{
  "name": "Borland",
  "black": "#4f4f4f",
  "red": "#ff6c60",
  "green": "#a8ff60",
  "yellow": "#ffffb6",
  "blue": "#96cbfe",
  "purple": "#ff73fd",
  "cyan": "#c6c5fe",
  "white": "#eeeeee",
  "brightBlack": "#7c7c7c",
  "brightRed": "#ffb6b0",
  "brightGreen": "#ceffac",
  "brightYellow": "#ffffcc",
  "brightBlue": "#b5dcff",
  "brightPurple": "#ff9cfe",
  "brightCyan": "#dfdffe",
  "brightWhite": "#ffffff",
  "background": "#0000a4",
  "foreground": "#ffff4e",
  "selectionBackground": "#a4a4a4",
  "cursorColor": "#ffa560"
}