body {
  background-color: black;
  font-family: monospace;
  color: white;
}

.userColor
{
  font-weight: bold;
  color: lime;
}

.dirColor
{
  font-weight: bold;
  color: white;
}

#cursor
{
  background-color: white;
  border-color: white;
}

#terminal-wrap
{
  background-color: black;
  border: 1px solid white;
}

#date
{
    font-weight: normal;
    color: grey;
}