body {
  background-color: black;
  font-family: monospace;
  color: #f0f0f0;
}

.userColor
{
  font-weight: bold;
  color: #8ae234;
}

.dirColor
{
  font-weight: bold;
  color: #729fcf;
}

#cursor {
  background-color: #f0f0f0;
  border-color: #f0f0f0;
}

#terminal-wrap {
  background-color: #153649;
  border: 1px solid #f0f0f0;
}

#date
{
    font-weight: normal;
    color: #f0f0f0;
}